
/* styles css */ 


.flex-container {
    display: flex;
    justify-content: center;
}
.flex-container div {
    background-color:beige;
    flex: 1;
    text-align: center;
    
}

p {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
}
a {
    font-family: 'Courier New', Courier, monospace;
}
ul {
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: inherit;
    width: 500px;
}

.alert-text {
    color: red;
    font-family: 'Courier New', Courier, monospace;    
}